.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Adicione isso no seu arquivo CSS global ou no componente */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pl-16 {
  padding-left: 4rem; /* Ajuste conforme necessário */
}

.mt-1 {
  margin-top: 0.25rem;
}

.block {
  display: block;
}

.w-full {
  width: 100%;
}

.rounded {
  border-radius: 0.375rem; /* Ajuste conforme necessário */
}

.border-gray-300 {
  border-color: #d1d5db;
}

.bg-white {
  background-color: #ffffff;
}